iframe {
	border: 0;
	display: block;
	width: 100%;
	height: 100%;
}
#marker-map-wrap{
	width: 800px;
	height: 600px;
	margin: 50px auto;
	position: relative;
}
#marker-map-spacer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
#marker-map-info {
	font-family: PFDinTextCondPro, Arial, sans-serif;
	color: #AF834E;
	background: rgba(0,0,0,.7);
	padding: 10px;
	font-size: 18px;
	line-height: 21px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#marker-map-info h1 {
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 5px;
	font-size: 20px;
}