@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('../fonts/2B84B5_0_0.eot');
	src: url('../fonts/2B84B5_0_0.eot?#iefix') format("embedded-opentype"), url('../fonts/2B84B5_0_0.woff') format("woff"), url('../fonts/2B84B5_0_0.ttf') format("truetype");
	font-weight: bold;
	font-style: normal
}
@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('../fonts/2B84B5_1_0.eot');
	src: url('../fonts/2B84B5_1_0.eot?#iefix') format("embedded-opentype"), url('../fonts/2B84B5_1_0.woff') format("woff"), url('../fonts/2B84B5_1_0.ttf') format("truetype");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('../fonts/2B84B5_2_0.eot');
	src: url('../fonts/2B84B5_2_0.eot?#iefix') format("embedded-opentype"), url('../fonts/2B84B5_2_0.woff') format("woff"), url('../fonts/2B84B5_2_0.ttf') format("truetype");
	font-weight: normal;
	font-style: italic
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	padding: 0;
	margin: 0;
	background: #000;
	overflow: hidden;
}
div#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 335px;
	z-index: -1;
}
div#sidebar {
	width: 360px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	padding: 15px 10px 0px 15px;
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	color: #fff;
	overflow: hidden;
}
div#sidebar-border {
	width: 15px;
	background-repeat: repeat-y;
	background-image: url('../img/border.png');
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 385px;
}
div#sidebar-wrap > span.tooltip {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    background-clip: padding-box;
    border-color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    color: #F0CB0B;
    display: none;
    font: 20px 'PFDinTextCondPro', Arial, sans-serif;
    padding: 1px 6px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    z-index: 6;
}
div#logo {
	width: 300px;
	height: 155px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	background: url('../img/logo.png') no-repeat;
}
ul.key {
	list-style-type: none;
	margin: 0;
	padding: 0;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	-ms-column-gap: 10px;
	-o-column-gap: 10px;
	column-gap: 10px;
	columns: 2;
}
ul.key > li {
	color: #B08948;
	font-size: 18px;
	height: 32px;
	cursor: pointer;
}
ul.key > li:hover {
	color: #F0CB0B;
}
ul.key > li > i {
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	float: left;
	margin-right: 7px;
}
ul.key > li > div {
    line-height: 21px;
    white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
ul.key > li > div.pill {
    background-color:#97702F;
    box-shadow: 1px 1px 3px #000000 inset;
    margin-left:5px;
    padding:2px 3px 0px 4px;
    color:#000000;
    border-radius:7px;
    font-size: 14px;
    line-height: 17px;
    max-width: 15px;
    float: left;
    text-align: center;
}
ul.key > li:after {
	clear: both;
}
ul.key > li.layer-disabled > div {
	text-decoration: line-through;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
ul.key > li.layer-disabled {
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
ul.controls {
	margin-top: 10px;
	font-weight: bold;
}
ul.key  li.none {
	cursor: default;
}
div#note {
	background: url('../img/paperfull.png') no-repeat;
	background-size: contain;
	color: #000;
	font-size: 18px;
	text-align: center;
	height: 85px;
	margin-top: 15px;
	padding-top: 26px;
	margin-bottom: 5px;
}
div#note a {
	color: #000;
}
div#note a:hover {
	color: #000;
	text-decoration: none;
}
div#sfw {
	font-size: 14px;
	text-align: center;
}
div#sfw a {
	color: #B08948;
	text-decoration: none;
}
div#sfw a.original {
	font-size: 12px;
	display: none;
}
div#sfw a:hover {
	color: #F0CB0B;
	text-decoration: underline;
}
div#lang {
    font-size: 14px;
    text-align: center;
}
div#lang a {
    color: #B08948;
    text-decoration: none;
}
div#lang a:hover {
    color: #F0CB0B;
    text-decoration: underline;
}
div#copyright {
	font-size: 13px;
	text-align: center;
	color: #999;
	margin-top: 15px;
	margin-bottom: 5px;
}
div#copyright.absolute {
	width: 380px;
	position: absolute;
	bottom: 5px;
	left: 0;
	padding-left:5px;
}
div#copyright > a,
div#copyright > a:visited,
div#copyright > a:active {
	color: #bbb;
	text-decoration: none;
}
div#copyright > a:hover {
	color: #ddd;
	text-decoration: underline;
}
div#info-wrap {
	position: absolute;
	left: 380px;
	bottom: 0;
	width: 620px;
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	color: #AF834E;
	z-index: 10;
	display: none;
}
div#info-wrap a {
	color: #B08948;
}
div#info {
	width: 520px;
	margin-left: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 21px;
	cursor: default;
}
div#info-fade-intro {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}
div#info-fade-outro {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 80px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
div#info h1 {
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0 5px 0;
	font-size: 20px;
}
div#info input {
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	color: #AF834E;
	background: rgba(0, 0, 0, 0);
	border: none;
	width:80%;
}
div#info.hideMonsters span {
	display: none;
}
div#title {
	position: absolute;
	width: 200px;
	height: 54px;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 1;
	background: url('../img/paper.png') no-repeat;
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	color: #000;
	font-size: 24px;
	text-align: center;
	line-height: 52px;
}
div#warn {
	display: none;
}
div#hide-sidebar {
	display: block;
	position: absolute;
	left: 390px;
	top: 0px;
	background: rgba(0, 0, 0, .7) url(../img/sidebarhide.png) no-repeat 0px 3px;
	border-bottom-right-radius: 8px;
	width: 28px;
	height: 32px;
	cursor: pointer;
}
div#hide-sidebar.show-sidebar {
	left: 0px;
	background-position: -22px 3px;
}
@media all and (max-width: 768px) {
	div#logo {
		width: 140px;
		height: 72px;
		background: url('../img/logo-small.png') no-repeat;
		margin-left: 20px;
	}
	div#sidebar {
		width: 180px;
	}
	div#hide-sidebar {
		left: 210px;
	}
	div#sidebar-border {
		left: 205px;
	}
	div#map {
		left: 205px;
	}
	ul.key {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0px;
		-moz-column-gap: 0px;
		-ms-column-gap: 0px;
		-o-column-gap: 0px;
		column-gap: 0px;
		columns: 1;
	}
	div#note {
		display: none;
	}
	div#sfw, div#copyright {
		width: auto;
		position: relative;
		bottom: auto;
		left: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div#copyright {
		display: none;
	}
	div#info-wrap {
		left: 205px;
		width: calc(100% - 205px);
	}
	div#info-fade-intro {
		width: 10px;
	}
	div#info h1 {
		font-size: 17px;
		padding: 8px 0 2px 0;
	}
	div#info {
		width: calc(100% - 18px);
		padding-right: 8px;
		padding-bottom: 5px;
		max-height: 60px;
		overflow: auto;
		font-size: 15px;
		margin-left: 10px;
		line-height: normal;
		margin-right:0px !important;
	}
	div#info-fade-outro {
		display: none;
	}
	.leaflet-label {
		display: none !important;
	}
}
@media all and (max-width: 768px) and (orientation:portrait) {
	div#warn {
		display: block;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 200px;
		height: 46px;
		z-index: 1000;
		background: url('../img/paper.png') no-repeat;
		font-family: 'PFDinTextCondPro', Arial, sans-serif;
		color: #000;
		font-size: 16px;
		overflow: hidden;
		text-align: center;
		padding-top:8px;
		box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
		cursor: pointer;
	}
}
i.alchemy { background-image:url('../img/icons/alchemy.png'); }
i.abandoned { background-image:url('../img/icons/abandoned.png'); }
i.armourer { background-image:url('../img/icons/armourer.png'); }
i.armourerstable { background-image:url('../img/icons/armourerstable.png'); }
i.banditcamp { background-image:url('../img/icons/banditcamp.png'); }
i.barber { background-image:url('../img/icons/barber.png'); }
i.blacksmith { background-image:url('../img/icons/blacksmith.png'); }
i.brothel { background-image:url('../img/icons/brothel.png'); }
i.entrance { background-image:url('../img/icons/entrance.png'); }
i.grindstone { background-image:url('../img/icons/grindstone.png'); }
i.guarded { background-image:url('../img/icons/guarded.png'); }
i.gwent { background-image:url('../img/icons/gwent.png'); }
i.harbor { background-image:url('../img/icons/harbor.png'); }
i.herbalist { background-image:url('../img/icons/herbalist.png'); }
i.hidden { background-image:url('../img/icons/hidden.png'); }
i.innkeep { background-image:url('../img/icons/tavern.png'); }
i.monsternest { background-image:url('../img/icons/monsternest.png'); }
i.monsterden { background-image:url('../img/icons/monsterden.png'); }
i.notice { background-image:url('../img/icons/notice.png'); }
i.pid { background-image:url('../img/icons/pid.png'); }
i.pop { background-image:url('../img/icons/pop.png'); }
i.poi { background-image:url('../img/icons/poi.png'); }
i.signpost { background-image:url('../img/icons/fasttravel.png'); }
i.shopkeeper { background-image:url('../img/icons/merchant.png'); }
i.smugglers { background-image:url('../img/icons/smugglers.png'); }
i.spoils { background-image:url('../img/icons/spoils.png'); }
.leaflet-container {
	background: #222;
}
.leaflet-label {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	background-clip: padding-box;
	border-color: rgb(0, 0, 0);
	border-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	color: #F0CB0B;
	display: block;
	font: 20px 'PFDinTextCondPro', Arial, sans-serif;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}
.leaflet-label.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}
.leaflet-label:before,
.leaflet-label:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: none;
	position: absolute;
	top: 5px;
}
.leaflet-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	left: -10px;
}
.leaflet-label:after {
	border-left: 6px solid black;
	border-left-color: inherit;
	right: -10px;
}
.leaflet-label-right:before,
.leaflet-label-left:after {
	content: "";
}
.leaflet-popup {
	display: none !important;
}
.leaflet-container .leaflet-control-search {
	position: relative;
	float: left;
	color: #1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: rgba(0, 0, 0, .3);
	z-index: 1000;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {
	box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
	background: rgba(0, 0, 0, .4);
}
.leaflet-control-search .search-input {
	display: block;
	float: left;
	background: #fff;
	border: 1px solid #666;
	border-radius: 4px;
	height: 18px;
	padding: 0 18px 0 2px;
	margin: 3px 2px 3px 3px;
	width: 120px;
}
.leaflet-control-search .search-input:focus {
	outline: none;
}
.leaflet-control-search.search-load .search-cancel {
	visibility: hidden;
}
.leaflet-control-search .search-cancel {
	width: 22px;
	height: 18px;
	position: absolute;
	right: 22px;
	margin: 3px 0;
	visibility: hidden;
}
.leaflet-control-search .search-button {
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	background: url(../img/search.png) no-repeat 2px 2px;
	border-radius: 4px;
}
.leaflet-control-search .search-button:hover {
	background: url(../img/searchhover.png) no-repeat 2px 2px;
	background-color: rgba(0, 0, 0, .3);
}
.leaflet-control-search .search-tooltip {
	position: absolute;
	top: 100%;
	right: 0;
	float: left;
	min-width: 120px;
	max-height: 200px;
	max-width: 300px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
	background-color: rgba(0, 0, 0, .5);
	z-index: 1010;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 5px;
	border-radius: 4px;
}
.leaflet-control-search .search-tip {
	margin: 0px;
	padding: 2px 4px;
	display: block;
	color: #999;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 290px;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: rgba(0, 0, 0, .2);
	color: #ddd;
}
.leaflet-control-search .search-alert {
	display: none !important;
}
div.leaflet-bar a.leaflet-control-zoom-in,
div.leaflet-bar a.leaflet-control-zoom-out {
	background-color: rgba(0, 0, 0, .3);
	color: #B08948;
}
div.leaflet-bar a.leaflet-control-zoom-in:hover ,
div.leaflet-bar a.leaflet-control-zoom-out:hover {
	background-color: rgba(0, 0, 0, .5);
	color: #F0CB0B;
}
div.leaflet-bar a {
	border-color: #B08948 !important;
}
div.leaflet-bar a.leaflet-disabled,
div.leaflet-bar a.leaflet-disabled:hover {
	background-color: rgba(0, 0, 0, .2);
	color: #999;
}
.leaflet-control-fullscreen a {
	background: rgba(0, 0, 0, .3) url(../img/fullscreen.png) no-repeat 0 0;
	background-size: 52px 52px;
}
.leaflet-fullscreen-on .leaflet-control-fullscreen a {
	background-position: 0 -26px;
}
.leaflet-control-fullscreen a:hover {
	background-color: rgba(0, 0, 0, .5);
	background-position: -26px 0;
}
.leaflet-fullscreen-on .leaflet-control-fullscreen a:hover {
	background-color: rgba(0, 0, 0, .5);
	background-position: -26px -26px;
}
/* Leaflet Easy Button v1 Styles */
.leaflet-bar button {
  background-color: rgba(0, 0, 0, .3);
  border: none;
  border-bottom: 1px solid #B08948;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #B08948;
	font-size:18px;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
	background-color: rgba(0, 0, 0, .5);
	cursor: pointer;
	color: #F0CB0B;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

button.easy-button-button {
	padding-top: 0px;
	padding-left: 4px;
	padding-right: 4px;
}
div#restoreDiv {
	font-family: 'PFDinTextCondPro', Arial, sans-serif;
	color: #AF834E;
	z-index:1;
	position:absolute;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
	background: rgba(0, 0, 0, .4);
	padding-left:5px;
}
div#restoreDiv > div> button {
	background:none;
	color: #AF834E;
	border:none;
}
